.movies-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 13vh;
}

.movie-card {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 70%;
}

.movie-card img {
  border: 1px solid white;
  border-radius: 10px;
  width: 680px;
}

.info-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48%;
}

.info-container div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info-container h1 {
  font-size: 44pt;
  font-weight: 700;
}

.info-container h3 {
  font-size: 26pt;
}

.info-container p {
  font-size: 18pt;
  text-align: center;
}

.info-container .button {
  margin-top: 10px;
}

.add {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.add .button {
  padding: 20px 80px;
}
